@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"); 
:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

 /*--------------------General - Styles -----------------------*/
 body::-webkit-scrollbar {
    width: 12px; /* ancho de la barra de desplazamiento */
  }
  
  body::-webkit-scrollbar-track {
    background: #f2b9b9; ; /* color del área de desplazamiento */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #f5677ab7; /* color del botón de desplazamiento */
    border-radius: 10px; /* redondez del botón de desplazamiento */
    border: 2px solid rgb(149 56 73 / 87%);;; /* crea un relleno alrededor del botón de desplazamiento */
  }
  
    .descripcion-img {
    font-size: .875em;
    line-height: 1.25em;
    color: #6ed169ca;
  }
  
  img {
    width: 100%;
  }
  
  figure {
    margin: 0;
  }
  
  .gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F2EFDC;
    border: 2px solid #750021;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    filter: grayscale(100%);
  }
  
  .gallery img {
    width: 100%;
    border-radius: 5px;
    transition: all .25s ease-in-out;
  }
  
  .gallery >.descripcion-img {
    margin: 15px 0;
    padding: 0;
    text-align: center;
  }
  
  .gallery-item:hover {
    filter: none;
    transform: scale(1.04);
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    padding-top: 60px;
  }
  
  @media only screen and (min-width: 768px) {
    
    
  .wide {
    grid-column: span 2;
  }
  
  .tall {
    grid-row: span 2;
  }
  } 
  

body {
    font-family: Poppins, sans-serif;
}

/* Añade la clase 'fade-in' para q aparezca con el scroll */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: rgb(255, 255, 255);
}


.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.55) 100%), url("../../IMG/especialidades/mecanizado/meca_N3_.jpg");
    background-size: cover;
    clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 50% 95%, 0px 80%);
    z-index: -1;
    background-position: center;
}

.navi {
    --padding-container: 0;
    height: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 30px;
    z-index: 1000;
    animation: change cubic-bezier(0.91, 0.18, 0.7, 0.95) both;
    animation-timeline: scroll(root );
    animation-range: 0 750px;
}

@keyframes change{
    to{
        background-color: rgb(149 56 73 / 87%);
        backdrop-filter: blur(7px);
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
}

.nav_title {
    font-weight: 300;
}

.nav_items {
    list-style: none;
}

.nav_links {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight:700;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img {
    display: block;
    width: 30px;
}

.nav_close {
    display: var(--show, none);
}

.hero_container {
    margin-top: 200px;
    max-width: 800px;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title {
    font-size: 1.9rem;

}

.hero_parragraph {
    margin-bottom: 20px;
}



.cta {
    display: inline-block;
    background-color: rgb(58 52 191);
    justify-self: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 7px;
    padding: 13px 30px;
    border-radius: 32px;
}


.about {
    text-align: justify;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
}

.about_paragraph {
    margin-top: 15px;
    line-height: 2;
}

.about_main {
    padding-top: 33px;
    display: grid;
    width: 100%;
    margin: 0px auto;
    gap: 1.5em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 270px;
    overflow: hidden;
    margin: 0px auto;
}

.about_icon {
    width: 60px;
}

.about_footer{
 text-align: center;
}

.nav_linkis{
    text-decoration: none; 
    color: white; 
    font-weight: 700; 
    font-size: 20px;
    margin: 5px;
}

p,li{
  text-wrap: pretty;
}

@media (min-width: 849px) {

    .nav_links{
        font-size: 30px;
      }
    .nav_linkis{
        font-size: 30px;
       
    }
}

/* CSS */
.nav_container{
    display: flex;
    align-items: center;
  }
  
  .nav_link {
    height: 10px;
    margin-left: auto;
    padding: 0px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1em;
}

  .nav_links{
    text-decoration: none; 
    color: white; 
    font-weight: 700; 
    font-size: 18px;
    margin: 10px;
  }
  
    /* Creé esta clase para los enlaces del menú */
    .nav_links_menu{
        /* Agregué estos estilos para dar más espacio, centrar el texto y cambiar el color */
        padding: 40px;
        margin: 0;
        text-align: center;
        color: white;
        display: grid;
        align-content: space-evenly;
        justify-items: center;
        font-size: 40px;
        font-weight: bold;
        z-index: 2;
      }
  
      
  .nav_icon{
    display: none;
  }
  
  @media (max-width: 768px) {

    .nav_linkis{
      text-decoration: none; 
      color: white; 
      font-weight: 650; 
      font-size: 25px;
      margin: 10px;
  }
    .nav_link{
      display: none;
    }
    .nav_links{
      text-decoration: none; 
      color: white; 
      font-weight: 700; 
      font-size: 18px;
      margin: 10px;
    }
    .nav_icon{
      display: block;
      /* Agregué estas líneas para alinear el icono a la derecha */
      margin-left: auto;
      margin-right: 10px;
      /* Agregué esta línea para que el icono esté por encima del menú */
      z-index: 2;
    }
    .nav_icon > img{
       max-width: 42px;
       max-height: 42px;
      }
    
  }