*{
    padding: 0;
    margin: 0;
    font-family: 'Salsa', cursive;
}

main{
    width: 90%;
    height: 93vh;
    margin: 25px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 301px;
    background-color: #98ade9;
    border-radius: 20px;
    padding: 30px 33px;
    box-shadow: 100px 100px 80px rgba(0, 0, 0, 0.03)
}

.title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 4px;
}

.avatar {
    height: 100px;
    width: 100px;
    background-color: rgb(255 255 255);
    border-radius: 50%;
    align-self: center;
    padding: 6px;
    cursor: pointer;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),100px 100px 80px rgba(0, 0, 0, 0.03);
}
.img-avatar{
    width: 100px;
    border-radius: 70px;
}


.input {
    border: none;
    outline: none;
    width: 100%;
    padding: 16px 6px;
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),100px 100px 80px rgba(0, 0, 0, 0.03);
}
   
button {
    border: none;
    outline: none;
    width: 40%;
    padding: 16px 6px;
    border-radius: 10px;
    margin-top: 12px;
    background-color: rgb(23, 111, 211);
}
  
.regresar{
    border: none;
    outline: none;
    width: 40%;
    padding: 16px 6px;
    border-radius: 10px;
    margin-top: 12px;
    background-color: rgb(23, 111, 211);
    font-size: 30px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.input:focus {
    border: 1px solid rgb(23, 111, 211);
}  

#fotito {
    display: none;
}