<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIDAD EDUCATIVA ANCÓN</title>
    <link rel="shortcut icon" href="../../IMG/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/normalize.css">
    <link rel="stylesheet" href="../../CSS/historia/himmno.css">
</head>
<body>
    <header class="hero">
        <nav class="nav">
           <div class="nav_logo">
               <h2 class="nav_litle">
                   <a href="../../index.html" class="nav_links">BIENVENIDOS A UEA </a>
               </h2>
           </div>
           <ul class="nav_link nav_link--menu">
               <li class="nav_items">
                   <a href="./recuerdos.html" class="nav_links">Recuerdos UEA</a>
               </li>

               <li class="nav_items">
                <a href="./historia.html" class="nav_links">Historia UEA</a>
            </li>
             <!--  <img src="../IMG/SVG/close.svg" alt="x" class="nav_close">-->
           </ul>
           <!--
           <div class="nav_menu">
               <img src="../IMG/SVG/menu.svg" alt="menu" class="nav_img">
           </div>
            -->
       </nav>
       <section class="hero_container container">
           <h1 class="hero_title">NUESTRO HIMNO</h1>         
           <a href="#HIMNO" class="cta">VER MAS</a>
       </section>
      </header>

      <main style="margin-top: -250px;">
        <section class="container1 about " id="HIMNO">
            <h2 class="subtitle fade-in">HIMNO DE LA UNIDAD EDUCATIVA ANCÓN</h2>
            <div class="about_paragraph fade-in">

                <p class="fade-in">
                    Juventud Juventud <br>
                    adelante por siempre marchad <br>
                    Tras la meta de honor y de gloria <br>
                    Que el estudio y trabajo fecundo <br>
                    Nos dará  nos dará como amada Victoria. <br>
                </p>
                <br>

                <p class="fade-in">
                    ¡Oh! colegio eres fragua sublime <br>
                    Do se forjan los altos valores <br>
                    de la juventud que estudiando redime,  <br>
                    de la Patria egregios honores <br>
                    Por ti , el estudio será nuestro lema, <br>
                    que nos guíe por senda segura <br>
                    A poner muy alto tu nombre <br>
                    ¡Oh! colegio fanal de cultura. <br>
                </p>
                <br>
                <p class="fade-in">
                    El Taller curtirá nuestras manos <br>
                    con el libro forjaremos la mente, <br>
                    nortes puros que guían ufanos <br>
                    a la joven legión diligente <br>
                </p>
                <br>
                <p class="fade-in">
                    En la técnica está tu grandeza, <br>
                    Y al alumno le das generoso; <br>
                    con ahínco, con fé y con nobleza, <br>
                    en torrentes de luz portentosa. <br>
                </p>
                <br>
                <p class="fade-in">
                    Ancón, es tu nombre grandioso <br>
                    ¡Oh colegio! pionero incansable; <br>
                    azul y blanco tus colores gloriosos; <br>
                    son emblema del bien perdurable. <br>
                </p>
                <br>
                <p class="fade-in">
                    Ancón te pusieron por suerte <br>
                    Y por ello. te yergues gigantes. <br>
                    Cual el oro del suelo que vierte, <br>
                    en torrentes de fuerza pujante. <br>
                </p>

                
            </div>
       
            </section>
                
        </section>
                
                   
                

      </main>
</body>
<script src="../../JS/scrolls.js"></script>
</html>