<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECUERDOS UEA</title>
    <link rel="shortcut icon" href="../../IMG/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/historia/recuerdos.css">
    
</head>
<body>
    <main>
        <section>
          <h1>Recuerdos de la Unidad Educativa Ancón</h1>
        </section>
        <p>Recuerdos De UEA</p>
        <img src="../../IMG/historia/recuerdos2.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos3.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos4.jpg" alt="recuerdos" loading="lazy">

        <p>Juramento De La Bandera 2022-2023</p>
        <img src="../../IMG/historia/recuerdos0.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos5.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos5.1.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos5.2.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos6.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos7.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos8.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos9.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos10.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos11.jpg" alt="recuerdos" loading="lazy">
        
        <p>Museo UEA</p>
        <img src="../../IMG/historia/recuerdos1.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/ex-rectores.jpeg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos12.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos13.jpg" alt="recuerdos" loading="lazy">
        <img src="../../IMG/historia/recuerdos14.jpg" alt="recuerdos" loading="lazy">

        <a href="./historia.html" >
        <button>
            Regresar
          </button>
          </a>
            
      </main>
</body>
</html>
 