@import url("https://fonts.googleapis.com/css?family=Asap|Playfair+Display+SC:900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;900&display=swap");

html,
body {
  position: relative;
  height: auto;
  background: #fcfcfc;
  line-height: 180%;
  font-family: "Nunito", sans serif;
}
p {
  color: #474747;
  font-size: 18px;
}
h2 {
  text-align: center;
}
.tb-margin-top {
  padding-top: 8em;
}
.tb-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.tb-container {
  align-items: center;
  max-width: 920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fcfcfc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tb-container-bar:before {
  position: fixed;
  content: "";
  display: block;
  z-index: 2;
  border-left: 100vw solid white;
  border-right: 100vw solid white;
  border-bottom: calc(100vh - 92px) solid white;
  bottom: 0;
}
.tb-progress-bar {
  position: absolute;
  top: 92px;
  width: 100%;
  height: 100%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e0/Black_right_angled_triangle_2.png);
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-size: 100% calc(100% - (100vh - 91px));
  z-index: 1;
}
footer {
  position: absolute;
  height: auto;
  width: 100%;
  background-color: #fcfcfc;
  text-align: center;
  line-height: 90px;
  z-index: 2;
  letter-spacing: 4px;
  bottom: -120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tb-container > a {
  display: flex;
  color: #000000;
  text-decoration: none;
  align-items: center;
}
.lonks{
  color: #2aaebd;
  text-decoration: none;
}
.tb-container > a > img {
  border-radius: 50%;
  margin-right: 10px;
}
footer > .copywrite {
  letter-spacing: 1px;
}
.navigation-wrapper > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.navigation-wrapper > ul > li {
  color: #474747;
  font-size: 1.25em;
  list-style: none;
  cursor: pointer;
  position: relative;
  font-weight: 500;
}
 a{
 text-decoration: none;
  color: #474747;
}
.navigation-wrapper > ul > li:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  z-index: 1;
  border-bottom: 2px solid #474747;
  animation: border-move 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes border-move {
  100% {
    width: 100%;
  }
}



.copyfield{
    background-color: #212121;
    border-radius: 5px;
    width: 90px;
    max-width: 790vh;
    max-height: 650vh;
}

#link{
    width: 990vh;
    padding: 12px 10px;
    border: 1px solid #212121;
    background-color: #fff;
    border-radius: 5px;
    font-size: 19px;
    
}
#link::-webkit-scrollbar{
    display: none;
}

#copy-btn{
    color: #fff;
    padding: 0 20px;
    font-size: 18px;
    cursor: pointer;
}
