@font-face {
    font-family: "Geist Sans";
    src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
  }
  



  * {
    box-sizing: border-box;
  }
  
  body {
    background: hsl(0 0% 98%);
    font-family: "Geist Sans", sans-serif;
    overflow-x: hidden;
  }
  
  p{
    animation: aparecer linear both;
    font-size: 25px;
    text-transform: uppercase;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

@keyframes aparecer{
  from{
    opacity: 0;
    translate: 0 100px;
    scale: .5;
  }
  to{
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}


  button {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-family: "Geist Sans", sans-serif;
    font-weight: 80;
    padding: 1rem 4rem;
    border-radius: 6px;
    border: 0;
    mix-blend-mode: difference;
    transition: filter 0.2s;
    background: white;
    color: black;
  }
  

  
  button::after {
    content: "";
    left: 8%;
    right: 8%;
    height: 12%;
    top: 130%;
    background: white;
    position: absolute;
    border-radius: 100px;
 
  }
  
  button:is(:hover, :focus-visible) {
    filter: brightness(0.5);
  }
  a{
    text-decoration: none;
    cursor: pointer;

  }
  
  h1 {
    font-weight: 120;
    background: linear-gradient(hsl(0 0% 10%), hsl(0 0% 60%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    
  }
  
  section {
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: clamp(2rem, 4vw + 1rem, 8rem);
  }
  
  main {
    display: grid;
    gap: 8rem;
    justify-items: center;
    padding-bottom: 50vh;
  }
  
  img {
    height: 50vh;
    border-radius: 10px;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
  img:nth-of-type(even) {
    translate: -25% 0;
    animation: slideInRight 0.5s linear both;
    
    animation-timeline: view();

    animation-range: entry 20% cover 30%;

  }
  
  img:nth-of-type(odd) {
    translate: 25% 0;
    animation: slideInLeft 0.5s linear both;
    
  animation-timeline: view();

  animation-range: entry 20% cover 30%;
  }