<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIENCIAS</title>
    <link rel="shortcut icon" href="../../IMG/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/normalize.css">
    <link rel="stylesheet" href="../../CSS/especialidades/ciencias.css">
</head>
<body>
    <header class="hero">
        <nav class="navi">
          <div class="nav_logo">
            <h2 class="nav_litle">
              <a href="../../index.html" class="nav_linkis">BIENVENIDOS A UEA</a>
            </h2>
          </div>
        
          <!-- HTML -->
          <ul class="nav_link">
              <li class="nav_items">
                <a href="./informatica.html" class="nav_links">Informatica</a>
              </li>
            <li class="nav_items">
              <a href="./mecanizado.html" class="nav_links">Mecanizado</a>
            </li>
            <li class="nav_items">
              <a href="./contabilidad.html" class="nav_links">Contabilidad</a>
            </li>
          </ul>
          <div class="nav_icon" onclick="toggleMenu()">
            <img src="./menu.png" alt="Menu icon" />
          </div>
        </nav>
        
  
   <!-- aaaaaaaaa -->
         <section class="hero_container container">
            <h1 class="hero_title">CIENCIAS</h1>              
             <a href="#Informatica" class="cta" style="text-decoration: none; color: white;">VER MAS</a>
         </section>
        </header>


        <section class="container about " id="Informatica">
      <h3 class="subtitle fade-in" ">¿Qué puede ofrecer Ciencias?</h3>

      
  <section class="gallery fade-in">
    <div  class="gallery-item gallery-item-1 wide">  
      <figure>
       <img src="../../IMG/especialidades/ciencias/cien6.jpeg"        class="gallery-img fade-in" alt="Image 1">
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div> 
    <div  class="gallery-item gallery-item-2">  
      <figure>
        <img src="../../IMG/especialidades/ciencias/cien3.jpeg"         class="gallery-img fade-in" alt="Image 2">
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div>
    <div  class="gallery-item gallery-item-3 tall">
      <figure>
        <img src="../../IMG/especialidades/ciencias/cien1.jpeg"          class="gallery-img fade-in" alt="Image 3">
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div>
    <div class="gallery-item gallery-item-4">
      <figure >
        <img src="../../IMG/especialidades/ciencias/cien2.jpeg"          class="gallery-img fade-in" alt="Image 4"> 
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div>
    <div class="gallery-item gallery-item-5">
      <figure >
        <img src="../../IMG/especialidades/ciencias/cien5.jpeg"          class="gallery-img fade-in" alt="Image 5">
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div>
    <div class="gallery-item gallery-item-6 wide">
      <figure >
       <img src="../../IMG/especialidades/ciencias/cien4.jpeg"          class="gallery-img fade-in" alt="Image 6">
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div>
    <div class="gallery-item gallery-item-7">
      <figure>
        <img src="../../IMG/especialidades/ciencias/cien7.jpeg"            class="gallery-img fade-in" alt="Image 7">
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div>
    <div class="gallery-item gallery-item-8 tall">
      <figure>
        <img src="../../IMG/especialidades/ciencias/cien8.jpeg"            class="gallery-img fade-in" alt="Image 8">
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div>
    <div class="gallery-item gallery-item-9">
      <figure>
        <img src="../../IMG/especialidades/ciencias/cien9.jpeg"            class="gallery-img fade-in" alt="Image 9">
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div>
    <!--        <div class="gallery-item gallery-item-10 wide">
      <figure >
        <img src="https://source.unsplash.com/paY5Ow4GZis"            class="gallery-img fade-in" alt="Image 10">
      </figure>
      <p class="descripcion-img">Ciencias</p> 
    </div>
    -->

  </section>
</section>
</body>
    <script src="../../JS/ciencias.js"></script>
    <script src="../../JS/scrolls.js"></script>
    </html>

