<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTABILIDAD</title>
    
    <!--Estilos-->
    <link rel="shortcut icon" href="../../IMG/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/normalize.css">
    <link rel="stylesheet" href="../../CSS/especialidades/contabilidad.css">
</head>

<body>
    <header class="hero">
        <nav class="navi">
           <div class="nav_logo">
               <h2 class="nav_litle">
                <a href="../../index.html" class="nav_linkis" style="text-decoration: none; color: white; font-weight: 700; font-size: 30px;">BIENVENIDOS A UEA </a>
               </h2>
           </div>

           <ul class="nav_link">
               <li class="nav_items">
                   <a href="./informatica.html" class="nav_links">Infomática</a>
               </li>

               <li class="nav_items">
                   <a href="./mecanizado.html" class="nav_links">Mecanizado</a>
               </li>
               
               <li class="nav_items">
                   <a href="./ciencias.html" class="nav_links">Ciencias</a>
               </li>

           </ul>
           <div class="nav_icon" onclick="toggleMenu()">
            <img src="./menu.png" alt="Menu icon" />
          </div>
       </nav>
       
       <section class="hero_container container">
           <h1 class="hero_title">CONTABILIDAD</h1>         
           <a href="#CONTABILIDAD" class="cta"  style="text-decoration: none; color: white;">VER MAS</a>
       </section>
    </header>


      <main>
        <section class="container about" id="CONTABILIDAD">
            <h2 class="subtitle fade-in">Especialidad Técnica: Contabilidad</h2>
                <div class="about_paragraph fade-in">
                    <p>La Contabilidad es una profesión que consiste en el análisis y registro de datos financieros. Por ende, estudia la fundamentación teórica, práctica, investigativa y metodológica de la disciplina.</p>

                    <p>Si eres una persona interesada en el manejo numérico y tienes habilidades para la administración quizá deberías plantearte está carrera. Ya que dentro del perfil de un Contador se pueden encontrar la capacidad de concentración, la aptitud analítica o el conocimiento matemático. </p>

                    <p>Por ejemplo, te tiene que gustar planificar y tomar decisiones. Realizar operaciones matemáticas con destreza. También establecer interés por el mundo de los negocios y manejar la información financiera.</p>                 
                </div>

            <h3 class="subtitle fade-in">Campo Laboral</h3>
                <p class="about_paragraph fade-in">Según el portal Ponte en Carrera, un Contador joven percibe un sueldo de entre 1000 a 3500 soles mensuales aproximadamente y dependiendo del área a la que se dedique. En la siguiente lista te explicamos algunas de las posibilidades laborales:</p>
                
                <ol class="about_paragraph fade-in"> 
                    <li><strong>Gerente:</strong> es decir, ser la persona encargada de coordinar y supervisar a todo un equipo de contadores y establecer comunicación con los distintos directivos de una empresa.</li>

                    <li><strong>Asesor de crédito:</strong> comprobar que un solicitante cuente con los requisitos y las características necesarias para recibir una financiación. Puede ser en un banco, fondo de pensiones o agencia de seguros. </li>
                    
                    <li><strong>Asesor de inversiones:</strong> aconsejar sobre la toma de decisiones financieras luego de evaluar la información proporcionada por el cliente o los mercados.</li>

                    <li><strong>Auditor:</strong> revisar la contabilidad y las actividades financieras realizadas previamente por diferentes departamentos. Del mismo modo, buscar fallos dentro de una organización para corregirlos.</li>
                </ol>
    
            <div class="about_paragraph fade-in">
                <p>Adicionalmente, no pierdas de vista las áreas de análisis, gestión y consultoría de empresas, así como las actividades relacionadas con estados financieros, impuestos y contables en instituciones oficiales o privadas.</p>
            </div>            
           
             
          </div>
          <h3 class="subtitle fade-in">¿Qué puede ofrecer Contabilidad?</h3>
          <section class="gallery fade-in">
            <div  class="gallery-item gallery-item-1 wide">  
              <figure>
              <img src="../../IMG/especialidades/contabilidad/cont1.jpg"        class="gallery-img fade-in" alt="Image 1">
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div> 
            <div  class="gallery-item gallery-item-2">  
              <figure>
                <img src="../../IMG/especialidades/contabilidad/contabilidad.gif"         class="gallery-img fade-in" alt="Image 2">
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div>     <!--     
            <div  class="gallery-item gallery-item-3 tall">
              <figure>
                <img src="../../IMG/especialidades/informatica/info9.jpeg"          class="gallery-img fade-in" alt="Image 3">
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div>
            <div class="gallery-item gallery-item-4">
              <figure >
                <img src="../../IMG/especialidades/informatica/info10.jpeg"          class="gallery-img fade-in" alt="Image 4"> 
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div>
            <div class="gallery-item gallery-item-5">
              <figure >
                <img src="../../IMG/especialidades/informatica/info11.jpeg"          class="gallery-img fade-in" alt="Image 5">
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div>
            <div class="gallery-item gallery-item-6 wide">
              <figure >
              <img src="../../IMG/especialidades/informatica/info14.jpg"          class="gallery-img fade-in" alt="Image 6">
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div>
            <div class="gallery-item gallery-item-7">
              <figure>
                <img src="../../IMG/especialidades/informatica/info16.jpeg"            class="gallery-img fade-in" alt="Image 7">
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div>
            <div class="gallery-item gallery-item-8 tall">
              <figure>
                <img src="../../IMG/especialidades/informatica/info13.jpg"            class="gallery-img fade-in" alt="Image 8">
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div>
            <div class="gallery-item gallery-item-9">
              <figure>
                <img src="../../IMG/especialidades/informatica/info15.jpg"            class="gallery-img fade-in" alt="Image 9">
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div>
          <div class="gallery-item gallery-item-10 wide">
              <figure >
                <img src="https://source.unsplash.com/paY5Ow4GZis"            class="gallery-img fade-in" alt="Image 10">
              </figure>
              <p class="descripcion-img">Contabilidad</p> 
            </div>
            -->

          </section>

          
        </section>
      </main>
</body>

    <script src="../../JS/scrolls.js"></script>
    <script src="../../JS/ciencias.js"></script>
   
</html>



    