<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMÁTICA</title>
    <link rel="shortcut icon" href="../../IMG/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/normalize.css">
    <link rel="stylesheet" href="../../CSS/especialidades/informatica.css">
    


    <!--Etiquetas de CEO-->

    <meta name="description" content="Descubre la excelencia educativa en la UEA. Brindamos una educación de calidad, fomentando el desarrollo integral de nuestros estudiantes. ¡Conoce nuestras instalaciones, programas académicos y el compromiso con el éxito educativo!">

        <!--OPEN GRAPH-->
        <meta property="og:title" content="UNIDAD EDUCATIVA ANCÓN">

        <meta property="og:description" content="Descubre la excelencia educativa en la UEA. Brindamos una educación de calidad, fomentando el desarrollo integral de nuestros estudiantes. ¡Conoce nuestras instalaciones, programas académicos y el compromiso con el éxito educativo!">

        <meta property="og:image" content="./IMG/entrada.jpg">
        <meta property="og:image:alt" content="Entrada principal de la UEA. Descubre un ambiente educativo acogedor y lleno de oportunidades para el crecimiento académico y personal.">


    <link rel="alternate" href="https://ueancon.com/" hreflang="en-GB">
    <link rel="canonical" href="https://ueancon.com/">

</head>
<body>
    <header class="hero">
      <nav class="navi">
        <div class="nav_logo">
          <h2 class="nav_litle">
            <a href="../../index.html" class="nav_linkis">BIENVENIDOS A UEA</a>
          </h2>
        </div>
      
        <!-- HTML -->
        <ul class="nav_link">
          <li class="nav_items">
            <a href="./mecanizado.html" class="nav_links">Mecanizado</a>
          </li>
          <li class="nav_items">
            <a href="./contabilidad.html" class="nav_links">Contabilidad</a>
          </li>
          <li class="nav_items">
            <a href="./ciencias.html" class="nav_links">Ciencias</a>
          </li>
        </ul>
        <div class="nav_icon" onclick="toggleMenu()">
          <img src="./menu.png" alt="Menu icon" />
        </div>
      </nav>
      

 <!-- aaaaaaaaa -->
       <section class="hero_container container">
           <h1 class="hero_title">INFORMÁTICA</h1>         
           <a href="#Informatica" class="cta" style="text-decoration: none; color: white;">VER MAS</a>
       </section>
      </header>

      <main>
        <section class="container about " id="Informatica">
            <h2 class="subtitle fade-in">Especialidad Técnica: Informática</h2>
            <div class="about_paragraph fade-in">
                <p>Contiene el conjunto de conocimientos, habilidades, destrezas, actitudes y comportamientos integrados que caracterizan las competencias técnicas específicas almacenadas por el egresado de la carrera de Bachiller Técnico Profesional en Informática. <strong> El egresado puede desempeñarse en:</strong></p>
                <ol class="about_paragraph fade-in">
                    <li>Centros o departamentos de informática de cualquier institución o empresa, asistiendo al personal en el uso de herramientas de ofimática, en el correcto funcionamiento del equipo, así como la creación de programas que sean necesarias para el manejo de información.</li>
                    <li>La creación de medianas empresas dedicadas a asesorías de sistemas de información.</li>
                    <li>Mantenimiento preventivo y correctivo de equipo tecnológico.</li>
                    <li>Instalación de redes locales.</li>
                    <li>Capacitación sobre tecnología.</li>
                    <li>Talleres o empresas de servicios técnicos en computación.</li>
                    <li>Centros de Capacitación en computación.</li>
                    <li>El egresado de este bachillerato podrá demostrar en el campo de trabajo profesionalismo, con una cultura y practica de capacitación constante, según los últimos avances tecnológicos.</li>
                </ol>
                <h3 class="subtitle fade-in">Módulos Asociados a las Unidades de Competencia</h3>
                <ul class="fade-in">
                    <li><strong>Módulo 1:</strong> Aplicaciones Ofimáticas Locales y en Línea</li>
                    <li><strong>Módulo 2:</strong> Sistemas Operativos y Redes</li>
                    <li><strong>Módulo 3:</strong> Programación y Bases de Datos</li>
                    <li><strong>Módulo 4:</strong> Soporte Técnico</li>
                    <li><strong>Módulo 5:</strong> Diseño y Desarrollo Web</li>

                </ul>

            </div>
           
            <h3 class="subtitle fade-in">¿Qué puede ofrecer Informática?</h3>

        <section class="gallery fade-in">
              <div  class="gallery-item gallery-item-1 wide">  
                <figure>
                <img src="../../IMG/especialidades/informatica/info1.jpeg"        class="gallery-img fade-in" alt="Image 1">
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div> 
              <div  class="gallery-item gallery-item-2">  
                <figure>
                  <img src="../../IMG/especialidades/informatica/info2.jpeg"         class="gallery-img fade-in" alt="Image 2">
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div>
              <div  class="gallery-item gallery-item-3 tall">
                <figure>
                  <img src="../../IMG/especialidades/informatica/info9.jpeg"          class="gallery-img fade-in" alt="Image 3">
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div>
              <div class="gallery-item gallery-item-4">
                <figure >
                  <img src="../../IMG/especialidades/informatica/info10.jpeg"          class="gallery-img fade-in" alt="Image 4"> 
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div>
              <div class="gallery-item gallery-item-5">
                <figure >
                  <img src="../../IMG/especialidades/informatica/info11.jpeg"          class="gallery-img fade-in" alt="Image 5">
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div>
              <div class="gallery-item gallery-item-6 wide">
                <figure >
                <img src="../../IMG/especialidades/informatica/info14.jpg"          class="gallery-img fade-in" alt="Image 6">
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div>
              <div class="gallery-item gallery-item-7">
                <figure>
                  <img src="../../IMG/especialidades/informatica/info16.jpeg"            class="gallery-img fade-in" alt="Image 7">
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div>
              <div class="gallery-item gallery-item-8 tall">
                <figure>
                  <img src="../../IMG/especialidades/informatica/info13.jpg"            class="gallery-img fade-in" alt="Image 8">
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div>
              <div class="gallery-item gallery-item-9">
                <figure>
                  <img src="../../IMG/especialidades/informatica/info15.jpg"            class="gallery-img fade-in" alt="Image 9">
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div>
              <!--        <div class="gallery-item gallery-item-10 wide">
                <figure >
                  <img src="https://source.unsplash.com/paY5Ow4GZis"            class="gallery-img fade-in" alt="Image 10">
                </figure>
                <p class="descripcion-img">Laboratorio de Informatica</p> 
              </div>
              -->

            </section>
    </main>

  </body>
  <script src="../../JS/ciencias.js"></script>
  <script src="../../JS/scrolls.js"></script>
</html>