<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MECANIZADO</title> 
    <link rel="shortcut icon" href="../../IMG/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/normalize.css">
    <link rel="stylesheet" href="../../CSS/especialidades/mecanizado.css">


    <!--Etiquetas de CEO-->

    <meta name="description" content="Descubre la excelencia educativa en la UEA. Brindamos una educación de calidad, fomentando el desarrollo integral de nuestros estudiantes. ¡Conoce nuestras instalaciones, programas académicos y el compromiso con el éxito educativo!">
        <!--OPEN GRAPH-->
        <meta property="og:title" content="UNIDAD EDUCATIVA ANCÓN">

        <meta property="og:description" content="Descubre la excelencia educativa en la UEA. Brindamos una educación de calidad, fomentando el desarrollo integral de nuestros estudiantes. ¡Conoce nuestras instalaciones, programas académicos y el compromiso con el éxito educativo!">

        <meta property="og:image" content="./IMG/entrada.jpg">
        <meta property="og:image:alt" content="Entrada principal de la UEA. Descubre un ambiente educativo acogedor y lleno de oportunidades para el crecimiento académico y personal.">


    <link rel="alternate" href="https://ueancon.com/" hreflang="en-GB">
    <link rel="canonical" href="https://ueancon.com/">

</head>
<body>
    <header class="hero">
        <nav class="navi">
           <div class="nav_logo">
               <h2 class="nav_litle">
                <a href="../../index.html" class="nav_linkis" >BIENVENIDOS A UEA </a>
               </h2>
           </div>
           <ul class="nav_link nav_link--menu">
               <li class="nav_items">
                   <a href="./informatica.html" class="nav_links" >Infomática</a>
               </li>
               <li class="nav_items">
                   <a href="./contabilidad.html" class="nav_links" >Contabilidad</a>
               </li>
               <li class="nav_items">
                   <a href="./ciencias.html" class="nav_links" >Ciencias</a>
               </li>
              </ul>
              <div class="nav_icon" onclick="toggleMenu()">
                <img src="./menu.png" alt="Menu icon" />
              </div>
            </nav>

       <section class="hero_container container">
           <h1 class="hero_title">MECANIZADO</h1>         
           <a href="#mecanizado" class="cta" style="text-decoration: none; color: white; font-weight: 700;">VER MAS</a>
       </section>
      </header>

      <main>
        <section class="container about" id="mecanizado">
            <h2 class="subtitle fade-in">Especialidad Técnica: Mecanizado Industrial Y Construcciones Metálicas</h2>
                <div class="about_paragraph fade-in">
                    <p>Se entiende por mecanizado el conjunto de procesos industriales que transforman una pieza de materia prima. Es decir, el conjunto de técnicas de transformación industrial de las materias primas, sobre todo, metales hasta convertirla en una pieza industrial.</p>
                    <p>Este proceso contempla desde la eliminación o el arrancado del material no deseado acciones de corte, marcado, agujereado… con el objetivo de conseguir una pieza con una forma y dimensiones concretas.</p>
                    <p>En este proceso intervienen dos tipos de movimiento: el de corte o de penetración, que elimina el material, y el de avance que dirige la trayectoria de la pieza a la vez que se ejecuta el movimiento principal.</p>
                    <p>El mecanizado industrial es pues, el proceso de transformación industrial de una materia prima, habitualmente de metal, plástico, madera, cerámica. Al final del proceso, se lima el material que sobra de forma controlada.</p> 
                </div>
            <h3 class="subtitle fade-in">Tipos de mecanizado industrial</h3>
                <p class="about_paragraph fade-in">Existen diferentes tipos de mecanizado, entre los que destacan:</p>
                <ol class="about_paragraph fade-in"> 
                    <li><strong>Mecanizado por arranque de viruta</strong>, en el cual el material sobrante se arranca o corta, lo que genera virutas.</li>
                    <li><strong>Mecanizado manual</strong>, directamente realizado por un operario, denominado ajustador, con la ayuda de herramientas de serrado, limado, cincelado, burilado…</li>
                    <li><strong>Mecanizado con máquina herramienta manual</strong>, semiautomática o automática, como taladros, tornos, fresadoras, CNC… que trabajan conjuntamente gracias al esfuerzo del operario.</li>
                </ol>
            <h3 class="subtitle fade-in">Un poco de historia de la industria metalmecánica</h3>
            <div class="about_paragraph fade-in">
                <p><strong>Los procesos de mecanizado</strong> se han realizado desde la antigüedad con la ayuda de herramientas y el trabajo humano. En la prehistoria, nuestros antepasados utilizaban piedra y madera para la fabricación de componentes. Ya en el Antiguo Egipto, se crearon taladros con mecanismos rotatorios para cortar, hacer agujeros y dar forma a maderas y piedras. Más adelante también a metales.</p>
                <p>Desde la Edad Media, existen numerosos ejemplos de <strong>sistemas de automatización mecanizados</strong> aunque el término mecanizado no se popularizó hasta mediados del siglo XIX. Encontramos estos ejemplos en los talleres de madera, cerámica, forja… En los que el torno era un elemento esencial.</p>
                <p>En 1774 <strong>John Wilkinson</strong> creó la mandrinadora, que se cree la primera máquina-herramienta de la historia y que permitía un corte mucho muy preciso en las piezas de metal. Esto ayudó a James Watt fabricar la máquina de vapor, impulsora de la revolución industrial.</p>
                <p>Desde entonces se ha evolucionado el uso del torno tradicional, a máquinas-herramienta de control numérico gestionadas por programas que pueden realizar operaciones de corte complejas.</p>
            </div>            
            <div class="about_paragraph ">

            </div>
            <h3 class="subtitle fade-in">¿Qué puede ofrecer Mecanizado?</h3>
            <section class="gallery fade-in">
              <div  class="gallery-item gallery-item-1 wide">  
                <figure>
                <img src="../../IMG/especialidades/mecanizado/mec2.jpeg"        class="gallery-img fade-in" alt="Image 1">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div> 
              <div  class="gallery-item gallery-item-2">  
                <figure>
                  <img src="../../IMG/especialidades/mecanizado/mec3.jpeg"         class="gallery-img fade-in" alt="Image 2">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>
              <div  class="gallery-item gallery-item-3 tall">
                <figure>
                  <img src="../../IMG/especialidades/mecanizado/mec4.jpeg"          class="gallery-img fade-in" alt="Image 3">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>
              <div class="gallery-item gallery-item-4">
                <figure >
                  <img src="../../IMG/especialidades/mecanizado/mec5.jpeg"          class="gallery-img fade-in" alt="Image 4"> 
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>
              <div class="gallery-item gallery-item-5">
                <figure >
                  <img src="../../IMG/especialidades/mecanizado/mec6.jpeg"          class="gallery-img fade-in" alt="Image 5">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>
              <div class="gallery-item gallery-item-6 wide">
                <figure >
                <img src="../../IMG/especialidades/mecanizado/mec7.jpeg"          class="gallery-img fade-in" alt="Image 6">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>
              <div class="gallery-item gallery-item-7">
                <figure>
                  <img src="../../IMG/especialidades/mecanizado/mec8.jpeg"            class="gallery-img fade-in" alt="Image 7">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>
              <div class="gallery-item gallery-item-8 wide">
                <figure>
                  <img src="../../IMG/especialidades/mecanizado/mec9.jpeg"            class="gallery-img fade-in" alt="Image 8">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>
              <div class="gallery-item gallery-item-9">
                <figure>
                  <img src="../../IMG/especialidades/mecanizado/mec10.jpeg"            class="gallery-img fade-in" alt="Image 9">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>
            <div class="gallery-item gallery-item-10 wide">
                <figure >
                  <img src="../../IMG/especialidades/mecanizado/meca_N1_.jpg"            class="gallery-img fade-in" alt="Image 10">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>
              <div class="gallery-item gallery-item-11 ">
                <figure >
                  <img src="../../IMG/especialidades/mecanizado/meca_N2_.jpg"            class="gallery-img fade-in" alt="Image 11">
                </figure>
                <p class="descripcion-img">Taller de Mecanizado</p>  
              </div>

            </section>

          
    </main>
  </body>
    <script src="../../JS/scrolls.js"></script>
    <script src="../../JS/ciencias.js"></script>
</html>

